In [3]:
import pandas as pd 
import os
import numpy as np 
import tensorflow as tf

Data represents an audioboook app that has 2 years of data from its clients. The
goal of this project is to predict which customer will convert. target column is generated by taking an additional 6 months of data from the user base and checking which users have converted after the 2 year period.

In [4]:
df = pd.read_csv(os.path.join('data', 'audiobook_data.csv'))

In [5]:
df

,id,book_length_(mins)_overal,book_length_(min)_avg,price_overall,price_avg,review,review_10_10,minutes_listened,completion,support_requests,last_visited_minus_purchase_date,target
0,873,2160.0,2160,10.13,10.13,0,8.91,0.00,0.0,0,0,1
1,611,1404.0,2808,6.66,13.33,1,6.50,0.00,0.0,0,182,1
2,705,324.0,324,10.13,10.13,1,9.00,0.00,0.0,1,334,1
3,391,1620.0,1620,15.31,15.31,0,9.00,0.00,0.0,0,183,1
4,819,432.0,1296,7.11,21.33,1,9.00,0.00,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
14079,27398,2160.0,2160,7.99,7.99,0,8.91,0.00,0.0,0,54,0
14080,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,0.0,0,4,0
14081,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,0.0,0,29,0
14082,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14083,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,0.0,0,90,0

In [7]:
df.duplicated().sum()

0